*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
:root{
	--fontSize: calc(1vw + 1vh);
	--ContImgCalc : calc(1vw - 1vh);
}

html, body{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Product Sans;
	background: #ffffff;
}

.up_menu{
	position: fixed;
    top: 0;
	z-index: 99;
	background: rgb(0 0 0 / 0%);
    width: 100%;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 -5px 10px 5px rgb(0 0 0 / 0%);
}
.up_menu .box{
	margin: 0 auto;
    height: 60px;
    width: calc(100% / 2 + 200px);
    line-height: 60px;
}
.up_menu .box .links{
	overflow: hidden;
}
.up_menu .box .links[type=a] a{
	color: #fff;
    padding: 20px 15px;
	margin-left: -4px;
	border-bottom: solid 0px rgb(255 255 255 / 0%);
	transition: 0.3s;
}
.up_menu .box .links[type=b] a{
	color: #fff;
    padding: 25px 15px;
	margin-left: -4px;
    transition: 0.3s;
}

.up_menu .box .links[type=a] a:hover{
	border-bottom: solid 4px #fff;
}
.up_menu .box .links[type=b] a:hover{
    background: rgb(0 0 0 / 20%);
}



.content{
	width: 100%;
    height: auto;
    position: relative;
    top: 60px;
	padding-bottom: 250px;
    overflow: hidden;
}
.content .header{
	width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: rgb(0 0 0 / 0%);
}
.content .header .box_info{
	width: 100%;
	height: calc(100% + 50vh);
    overflow: hidden;
}
.content .header .box_info .hbox{
	width: calc(100% / 2 + 200px);
	height: 100vh;
	margin: 0 auto;
}
.content .header .box_info .hbox .image{
	width: 100%;
    height: 100%;
    margin-top: calc(100vh / 2 - (50vw / 2));
    position: relative;
}
.content .header .box_info .hbox .image label{
	position: absolute;
    background: rgb(255 255 255 / 50%);
    padding: 15px;
    display: inline-block;
    backdrop-filter: blur(5px);
    top: 150px;
    left: 0;
    z-index: 1;
    font-size: 23px;
    color: rgb(0 0 0 / 0%);
    font-weight: bold;
	z-index: 10;
}
.content .header .box_info .hbox .image p{
	position: absolute;
    background: rgb(0 0 0 / 0%);
    display: inline-block;
    z-index: 1;
    color: #ffffff;
    top: 220px;
    left: 0;
    width: 400px;
    padding: 15px;
	backdrop-filter: blur(5px);
	z-index: 10;
}
.content .header .box_info .hbox .image .box_language{
	position: absolute;
    background: rgb(0 0 0 / 0%);
    display: inline-block;
    z-index: 1;
    color: #ffffff;
    top: 320px;
    left: 0;
    width: 400px;
	height: 100px;
    padding: 15px;
	backdrop-filter: blur(5px);
	z-index: 10;
}
.content .header .box_info .hbox .image .box_language label{
	font-size: 20px;
    color: #fff;
    background: rgb(255 255 255 / 0%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px;
    font-weight: bold;
    z-index: 2;
    display: block;
    backdrop-filter: blur(5px);
}
.content .header .box_info .hbox .image .box_language a{
	width: 72px;
    height: 42px;
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
    border: 4px rgb(0 0 0 / 0%) solid;
	transition: 0.3s;
}
.content .header .box_info .hbox .image .box_language a:hover{
	border: 4px #000000 solid;
	transition: 0.3s;
}
.content .header .box_info .hbox .image .box_language a img{
	width: 100%;
	margin-top: -15px;
}

.content .header .box_info .hbox .image .app_images{
	position: absolute;
    top: calc(50vh / 8 + 50px);
    right: 0px;
    left: 0px;
	margin: -25px;
}
.content .header .box_info .hbox .image .app_images img{
	position: absolute;
    top: -294px;
    right: -900px;
    transform: scale(1);
}
.content .header .box_info .hbox .image .app_images .img_0{
	z-index: 5;
}
.content .header .box_info .hbox .image .app_images .img_1{
	margin: -25px;
	z-index: 4;
}
.content .header .box_info .hbox .image .app_images .img_2{
	margin: calc(-25px * 2);
	z-index: 3;
}
.content .header .box_info .hbox .image .app_images .img_3{
	margin: calc(-25px * 3);
	z-index: 2;
}
.content .header .box_info .hbox .image .app_images .img_4{
	margin: calc(-25px * 4);
	z-index: 1;
}


.content .box{
	margin: 0 auto;
    width: calc(100% / 2 + 200px);
}
.content .marr{
	margin-top: 350px;
}
.content .box label{
	text-align: center;
    display: block;
    padding: 20px;
    margin-top: 250px;
    font-size: calc(var(--fontSize) * 2);
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0 0 0 / 0%);
}
.content .box .block{
	position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 500px;
}
.content .box .block p{
	position: absolute;
    background: rgb(0 0 0 / 0%);
    padding: 15px;
    display: inline-block;
    backdrop-filter: blur(5px);
    top: 200px;
    right: -45px;
    z-index: 10;
    font-size: 23px;
    color: #ffffff;
    font-weight: bold;
}
.content .box .block .download_and_enjoy{
	display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
	backdrop-filter: unset;
    font-size: 35px;
}
.content .box .block .h_download_link{
	position: absolute;
    top: 300px;
    left: calc(100% / 2 - (96px / 2));
    width: 96px;
    height: 96px;
    border-radius: 15px;
    border: 5px solid #f0b000;
	transition: 0.3s;
}
.content .box .block .h_download_link:hover{
	box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);
}
.content .box .block .h_download_link:active{
	box-shadow: 0 0 20px 5px rgb(0 0 0 / 30%);
}
.content .box .block .h_download_link .img{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content .box .block img{
	position: absolute;
    transform: scale(1);
    top: -300px;
    left: -1000px;
	z-index: 2;
}

.content .box .block .img_two{
	margin: calc(-25px * 2);
    z-index: 1;
}
.content .box .block .customization_imgs{
	margin-top: 50px;
}
.content .box .block .customization_imgs .img_0{
	z-index: 5;
}
.content .box .block .customization_imgs .img_1{
	margin: -25px;
	z-index: 4;
}
.content .box .block .customization_imgs .img_2{
	margin: calc(-25px * 2);
	z-index: 3;
}
.content .box .block .customization_imgs .img_3{
	margin: calc(-25px * 3);
	z-index: 2;
}
.content .box .block .customization_imgs .img_4{
	margin: calc(-25px * 4);
	z-index: 1;
}

@media only screen and (min-width : 0px) and (max-width : 1070px) {
	.content .header .box_info .hbox .image .app_images{
		right: -233px;
		top: calc(-50vh / 4);
		transform: scale(0.8);
	}
	.content .header .box_info .hbox .image label{
		left: -5px;
		right: -5px;
	}
	.content .header .box_info .hbox .image p{
		width: calc(100% - 20px);
		left: -5px;	
	}
	.content .header .box_info .hbox .image .box_language{
		top: 330px;
		width: calc(100% - 20px);
		left: -5px;
	}
	
	.content .box .block img{
		transform: scale(0.7);
		left: -1062px;
	}
	.content .box .block p{
		right: 0;
	}
}


/* news */
.content .box[page=news]{
	margin: 0 auto;
    width: calc(100% / 2 + 200px);
}
.content .box[page=news] label{
	text-align: left;
    display: block;
    padding: 20px 0;
    margin-top: 250px;
    font-size: calc(var(--fontSize) * 2);
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0 0 0 / 0%);
}
.content .box[page=news] .block{
	position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
}
.content .box[page=news] .block text{
	display: block;
    height: 100px;
    background: #818181;
    padding: 17px 0px 0px 15px;
    overflow: hidden;
    position: relative;
}
.content .box[page=news] .block text .n_line{
	position: absolute;
    top: -400px;
    left: calc(100% / 2 + 150px);
    z-index: 0;
    width: 1000px;
    height: 1000px;
	background: rgb(0 0 0 / 20%);
    transform: rotateZ(301deg);
    user-select: none;
}

.content .box[page=news] .block p{
	position: unset;
    background: unset;
    padding: unset;
    display: inline-block;
    backdrop-filter: unset;
    top: unset;
    right: unset;
    z-index: unset;
    font-size: unset;
    color: #ffffff;
    font-weight: unset;
}

.content .box[page=news] .block .n_one{
	display: inline-block;
    position: relative;
}
.content .box[page=news] .block .n_two{
	display: inline-block;
    position: relative;
	float: right;
    margin: 0px 15px 0px 0px;
    position: relative;
	text-align: right;
}
/* news */


